*.zip
fst/him/nvim-main/lua/handdara/config/init.lua
*.bz2
fst/hez/wezterm-main/colors/marrissa-term.toml
fst/hez/wezterm-main/handdara/colors/default.lua
hix/result
en.utf-8*
*.qcow2
hix/repl-result-out
