keybinds clear-defaults=true {
    normal {
        bind "Ctrl C" { Copy; }
        //bind "Ctrl V" { Paste; }
    }
    locked {
        bind "Alt g" { SwitchToMode "Normal"; }
    }
    pane {
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "h" { Resize "Left"; }
        bind "j" { Resize "Down"; }
        bind "k" { Resize "Up"; }
        bind "l" { Resize "Right"; }
        bind "H" { MovePane "Left"; }
        bind "J" { MovePane "Down"; }
        bind "K" { MovePane "Up"; }
        bind "L" { MovePane "Right"; }
        bind "f" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
    }
    move {
    }
    tab {
        bind "Alt t" { NewTab; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "h" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        //bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
    }
    scroll {
    }
    search {
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "g" { ScrollToTop; }
        bind "G" { ScrollToBottom; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    session {
        bind "Alt d" { Detach; }
        bind "/" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
        bind "Alt x" { CloseTab; SwitchToMode "Normal"; }
        bind "Alt w" { CloseFocus; SwitchToMode "Normal"; }
        bind "Alt q" { Quit; }
        bind "Alt s" { LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-sessionizer.wasm" {
            floating true
            move_to_focused_tab true
            cwd "/"
            root_dirs "/home/handdara/code"
            session_layout "default"
        }; SwitchToMode "Locked";
    }
    }
    shared_except "locked" {
        bind "Alt g" { SwitchToMode "Locked"; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
    }
    shared_except "normal" "locked" {
        bind "q" { SwitchToMode "Normal"; }
    }
    shared_except "pane" "locked" {
        bind "Alt p" { SwitchToMode "Pane"; }
    }
    shared_except "search" "locked" {
        bind "Alt u" { SwitchToMode "Search"; }
    }
    shared_except "session" "locked" {
        bind "Alt s" { SwitchToMode "Session"; }
    }
    shared_except "tab" "locked" {
        bind "Alt t" { SwitchToMode "Tab"; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}

default_shell "fish"
pane_frames false
serialize_pane_viewport true
copy_command "xclip -selection clipboard" // x11
copy_on_select false

// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// themes {
//     dracula {
//         fg 248 248 242
//         bg 40 42 54
//         red 255 85 85
//         green 80 250 123
//         yellow 241 250 140
//         blue 98 114 164
//         magenta 255 121 198
//         orange 255 184 108
//         cyan 139 233 253
//         black 0 0 0
//         white 255 255 255
//     }
// }
// theme "default"

// default_ ayout "compact"
// default_mode "locked"

// layout_dir "/path/to/my/layout_dir"
// theme_dir "/path/to/my/theme_dir"
